.EntityList {
    margin: 0 auto;
    max-width: 415px;
    width: 100%;
}

.EntityList.Shown {
    display: block;
}

.EntityList h3 a {
    font-size: 0.6rem;
}

.EntityList ul {
    list-style-type: none;
    padding: 0;
}

.EntityPanel {
    display: flex;
    background: var(--third-light-2-color);
    min-height: 65px;
    align-items: flex-start;
    padding: 0.5rem;
    margin: 0.5rem;
}

.TaskBody {
    margin-left: 0.75rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow: hidden;
}

.TaskBody h3 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.TaskBody h6 {
    margin: 0 0 0 0.5rem;
    color: var(--brighter-font-color);
}

.TaskBody h6 span {
    color: var(--primary-color);
    font-size: 0.4rem;
    margin: 0 0.2rem;
    transform: translateY(-1px);
}

.checkbox {
    font-size: 1.3rem;
    margin: 0;
}

.checkbox .checkmark {
    border-radius: 50%;
    box-shadow: none;
    background: #D9D9D9;
    cursor: pointer;
}

.checkbox input:checked + .checkmark::after {
    left: 63%;
    top: 33%;
    width: 0.3em;
    height: 0.8em;
    border-width: 0 0.1em 0.1em 0;
    border-color: black;
}

.EntityPanel.Note {
    min-height: 100px;
    flex-direction: column;
}

.NoteHeader {
    display: flex;
    align-items: baseline;
    cursor: pointer;
    width: 100%;
}

.NoteHeader h3 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70%;
}

.NoteHeader h6 {
    margin: 0 0 0 0.5rem;
    flex: 1;
    text-align: right;
}

.NoteContent {
    width: 100%;
    flex: 1;
    padding-left: 0.5rem;
    margin-top: 0.5rem;
}

.NoteContent textarea {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    width: 100%;
    height: 100%;
    resize: none;
    box-shadow: none;
    margin: 0;
}

.NoPanelsNotice h5 {
    text-align: center;
    font-weight: 500;
    color: var(--brighter-font-color);
}

.Modal {
    position: fixed;
    display: none;
    top: 4rem;
    left: 0;
    height: calc(100% - 7.5rem);
    width: 100%;
    background: white;
    align-items: center;
    justify-content: center;
    z-index: 8;
}

.Modal.Shown {
    display: flex;
}

.ModalContainer {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 1em;
}

.CreateModalContent, .EditModalContent {
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.CreateModalContent.Shown, .EditModalContent.Shown {
    display: flex;
}

.ModalContainer form {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 2em;
}

.ModalContainer .ButtonsWrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    margin-right: -2em;
}

.ModalContainer .ButtonsWrapper button {
    font-size: 0.8em;
}

.ModalContainer button[type=reset] {
    background: none;
    padding: 0;
    margin-right: 1em;
}

.ModalContainer button[type=submit] {
    border-radius: 3em;
}

.ModalContainer textarea {
    height: 150px;
    resize: none;
}

.EditModalContent {
    overflow: auto;
}

.EditModalContent .EntityDetails h5 {
    font-weight: 600;
    margin: 0;
}

.EditModalContent .EntityDetails h5:first-of-type {
    margin-bottom: 1em;
}

.EditModalContent .EntityDetails button {
    background: #FC7272;
}

@media screen and (min-width: 426px) {
    .EntityList {
        width: 375px;
    }

    .Modal {
        background: #65656566;
        top: 0;
        height: 100%;
        z-index: 10; 
    }

    .ModalContainer {
        height: 80%;
        max-width: 450px;
        max-height: 550px;
        background: white;
        border-radius: 0.5em;
        box-shadow: 1px 1px 8px 0 #9090903d;
    }
}